acres
annotated-types
anyio
certifi
charset-normalizer
ci-info
click
configobj
configparser
convertapi
deepl
distro
etelemetry
exceptiongroup
fastapi
filelock
h11
httpcore
httplib2
httpx
idna
importlib_resources
isodate
jiter
looseversion
lxml
networkx
nibabel
nipype
numpy
openai
packaging
pandas
pathlib
pillow
prov
puremagic
pydantic
pydantic_core
pydot
PyMuPDF
pyparsing
python-dateutil
python-pptx
pytz
pyxnat
rdflib
requests
scipy
simplejson
six
sniffio
starlette
tkinterdnd2
tqdm
traits
typing-inspection
typing_extensions
tzdata
urllib3
tenacity
uvicorn
xlsxwriter
python-multipart
boto3>=1.34
python-dotenv>=1.0.0
python-jose[cryptography]==3.3.0
